[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
pytest = "*"
pytest-cov = "*"
mixer = "*"
flake8 = "*"
mccabe = "*"
requests = "*"
pytest-xdist = "*"
pytest-optional-tests = "*"
pytest-dotenv = "*"
wcwidth = "*"

[packages]
pylast = "*"
pydantic = "==1.6.1"
python-multipart = "*"
pony = "*"
python-dotenv = "*"
psycopg2 = "*"
pypiwin32 = {version = "*",sys_platform = "== 'win32'"}
pywin32 = {version = "*",sys_platform = "== 'win32'"}
click = "*"
pytz = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
