[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
pytest = "*"
pytest-cov = "*"
mixer = "*"
flake8 = "*"
mccabe = "*"
requests = "*"
pytest-xdist = "*"

[packages]
fastapi = "==0.44.1"
pydantic = "==1.2"
python-multipart = "*"
uvicorn = "*"
pyjwt = "*"
pony = "*"
email-validator = "*"
uvloop = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.passlib]
extras = [ "bcrypt",]
version = "*"
