[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
mixer = "*"
flake8 = "*"
mccabe = "*"
requests = "*"

[packages]
fastapi = "==0.44.0"
python-multipart = "*"
uvicorn = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"],version = "*"}
pony = "*"
email-validator = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
