altair==4.2.0; python_version >= "3.7"
appnope==0.1.2; platform_system == "Darwin" and python_version >= "3.8" and sys_platform == "darwin"
argon2-cffi-bindings==21.2.0; python_version >= "3.6"
argon2-cffi==21.3.0; python_version >= "3.6"
asttokens==2.0.5; python_version >= "3.8"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
autoflake==1.4
backcall==0.2.0; python_version >= "3.8"
better-exceptions==0.3.3
black==22.1.0; python_full_version >= "3.6.2"
bleach==4.1.0; python_version >= "3.7"
brotli==1.0.9; python_version >= "3.6"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cffi==1.15.0; implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.6.1"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3"
click==8.0.4; python_version >= "3.6"
colorama==0.4.4; platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.6.2" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") or sys_platform == "win32" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") and python_full_version >= "3.5.0") and (python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.5.0")
coverage==6.3.2; python_version >= "3.7"
dash-alternative-viz @ git+https://github.com/plotly/dash-alternative-viz.git@master
dash-bootstrap-components==1.0.3; python_version >= "3.6" and python_version < "4"
dash-bootstrap-templates==1.0.5
dash-core-components==2.0.0; python_version >= "3.6" and python_version < "4"
dash-html-components==2.0.0; python_version >= "3.6" and python_version < "4"
dash-table==5.0.0; python_version >= "3.6" and python_version < "4"
dash==2.2.0; python_version >= "3.6"
debugpy==1.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
decorator==5.1.1; python_version >= "3.8"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
deprecated==1.2.13; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
entrypoints==0.4; python_full_version >= "3.6.1" and python_version >= "3.7"
execnet==1.9.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
executing==0.8.3; python_version >= "3.8"
faker==12.0.1; python_version >= "3.7"
flake8==4.0.1; python_version >= "3.6"
flask-compress==1.11; python_version >= "3.6" and python_version < "4"
flask==2.0.3; python_version >= "3.6" and python_version < "4"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
iniconfig==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
ipykernel==6.9.1; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==8.1.0; python_version >= "3.8"
ipywidgets==7.6.5
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
itsdangerous==2.1.0; python_version >= "3.7"
jaconv==0.3
jedi==0.18.1; python_version >= "3.8"
jinja2==3.0.3; python_version >= "3.7"
jsonschema==4.4.0; python_version >= "3.7"
jupyter-client==7.1.2; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter-console==6.4.0; python_version >= "3.6"
jupyter-core==4.9.2; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyter==1.0.0
jupyterlab-pygments==0.1.2; python_version >= "3.7"
jupyterlab-widgets==1.0.2; python_version >= "3.6"
loguru==0.6.0; python_version >= "3.5"
markupsafe==2.1.0; python_version >= "3.7"
matplotlib-inline==0.1.3; python_version >= "3.8"
mccabe==0.6.1
mistune==0.8.4; python_version >= "3.7"
mixer==7.2.1; python_version >= "3.7"
mypy-extensions==0.4.3; python_full_version >= "3.6.2"
nbclient==0.5.11; python_full_version >= "3.7.0" and python_version >= "3.7"
nbconvert==6.4.2; python_version >= "3.7"
nbformat==5.1.3; python_full_version >= "3.7.0" and python_version >= "3.7"
nest-asyncio==1.5.4; python_full_version >= "3.7.0" and python_version >= "3.7"
notebook==6.4.12; python_version >= "3.6"
numpy==1.22.2
packaging==21.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pandas==1.4.1; python_version >= "3.8"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
parso==0.8.3; python_version >= "3.8"
pathspec==0.9.0; python_full_version >= "3.6.2"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.8"
pickleshare==0.7.5; python_version >= "3.8"
platformdirs==2.5.1; python_version >= "3.7" and python_full_version >= "3.6.2"
plotly==5.6.0; python_version >= "3.6" and python_version < "4"
pluggy==1.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pony==0.7.16
prometheus-client==0.13.1; python_version >= "3.6"
prompt-toolkit==3.0.28; python_full_version >= "3.6.2" and python_version >= "3.8"
psycopg2-binary==2.9.3; python_version >= "3.6"
ptyprocess==0.7.0; os_name != "nt" and python_version >= "3.8" and sys_platform != "win32"
pure-eval==0.2.2; python_version >= "3.8"
py==1.11.0; python_full_version >= "3.6.1" and python_version >= "3.7" and implementation_name == "pypy"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycparser==2.21; implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.6.1"
pydantic==1.9.0; python_full_version >= "3.6.1"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pygments==2.11.2; python_version >= "3.8"
pykakasi==2.2.1
pylast==4.5.0; python_version >= "3.6"
pyparsing==3.0.7; python_version >= "3.6"
pypiwin32==223; sys_platform == "win32"
pyrsistent==0.18.1; python_version >= "3.7"
pytest-cov==3.0.0; python_version >= "3.6"
pytest-dotenv==0.5.2
pytest-forked==1.4.0; python_version >= "3.6"
pytest-optional-tests==0.1.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pytest-xdist==2.5.0; python_version >= "3.6"
pytest==7.0.1; python_version >= "3.6"
python-dateutil==2.8.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
python-dotenv==0.19.2; python_version >= "3.5"
pytz==2021.3
pywin32==303; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.7" and python_full_version >= "3.6.1" or sys_platform == "win32"
pywinpty==2.0.2; os_name == "nt" and python_version >= "3.7"
pyzmq==22.3.0; python_full_version >= "3.6.1" and python_version >= "3.7"
qtconsole==5.2.2; python_version >= "3.6"
qtpy==2.0.1; python_version >= "3.6"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
scipy==1.8.0; python_version >= "3.9" and python_version < "3.11"
send2trash==1.8.0; python_version >= "3.6"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
stack-data==0.2.0; python_version >= "3.8"
tenacity==8.0.1; python_version >= "3.6"
terminado==0.13.1; python_version >= "3.7"
testpath==0.6.0; python_version >= "3.7"
tomli==2.0.1; python_version >= "3.7" and python_full_version >= "3.6.2" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
toolz==0.11.2; python_version >= "3.7"
tornado==6.1; python_full_version >= "3.6.1" and python_version >= "3.7"
traitlets==5.1.1; python_full_version >= "3.7.0" and python_version >= "3.8"
typing-extensions==4.1.1; python_version >= "3.6" and python_full_version >= "3.6.2" and python_version < "3.10"
urllib3==1.26.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
wcwidth==0.2.5
webencodings==0.5.1; python_version >= "3.7"
werkzeug==2.0.3; python_version >= "3.6"
widgetsnbextension==3.5.2
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
wrapt==1.13.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
