@use 'bootstrap';
@use "functions"as *;
@use "variables"as *;

@mixin col-height($i) {
    @include bootstrap.media-breakpoint-up(xs) {
        height: 250px;
    }

    @include bootstrap.media-breakpoint-up(sm) {
        height: get-container-widths(sm) / 12 * $i - bootstrap.$grid-gutter-width;
    }

    @include bootstrap.media-breakpoint-up(md) {
        height: get-container-widths(md) / 12 * $i - bootstrap.$grid-gutter-width;
    }

    @include bootstrap.media-breakpoint-up(lg) {
        height: get-container-widths(lg) / 12 * $i - bootstrap.$grid-gutter-width;
    }

    @include bootstrap.media-breakpoint-up(xl) {
        height: get-container-widths(xl) / 12 * $i - bootstrap.$grid-gutter-width;
    }
}
