.date-input .navbar-text {
    margin-right: 5px;
}

.date-input {
    margin-left: 10px;
}

.dash-error-menu {
    color: black;
}

.navbar {
    margin-bottom: 15px;
}

#general-stats h1 {
    font-size: 1.3rem;
    font-weight: bold;
}

#general-stats h1 {
    font-size: 1.3rem;
    font-weight: bold;
}
