// Variables
$col-height: 253px;


.dash-error-menu {
    color: black;
}

// Navbar
.navbar {
    margin-bottom: 15px;

    .date-input {
        margin-left: 10px;
        .navbar-text {
            margin-right: 5px;
        }
    }
}

// General layout CSS
.container {
    [class^="col"] {
        margin-bottom: 15px;
    }
}

.card {
    height: $col-height;

}


//Card specific CSS
.general-stats {
    h1 {
        font-size: 1.2rem;
        margin-bottom: 0px;
        color: rgb(170, 170, 170);
    }

    span {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .card-body {
        flex-direction: column;
    }
}

.top-image {
    .title {
        position: absolute;
        padding: 5px 10px;
        background-color: black;
        border-radius: 10px;
        margin: 5px;
        background-color: rgba($color: white, $alpha: 0.4);
        color: black;
        font-weight: bold;
    }

    .name {
        position: absolute;
        bottom: 0px;
        padding: 5px 10px;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: rgba($color: white, $alpha: 0.4);
        color: black;
        width: 100%;

        .artist {
            font-size: 1rem;
            font-weight: unset;
            color: #111;
            font-weight: 400;
        }
    }

    img {
        padding-bottom: 2px;
        max-height: $col-height;
        object-fit: cover;
    }
}
