@use 'bootstrap';
@use "functions"as *;
@use "mixins"as *;
@use "variables"as *;


.dash-error-menu {
    color: black;
}

// Navbar
.navbar {
    .right {
        margin-left: 15px
    }

    #date-select {
        width: 15rem;
    }

    #date-range-select {
        width: 6rem;
    }
}

// General layout CSS
.container {
    [class^="col"] {
        margin-bottom: bootstrap.$grid-gutter-width;
    }

    padding-top: bootstrap.$grid-gutter-width;

    background-color: bootstrap.$body-bg;
}

//Card specific CSS
.card {
    @include col-height(3);

    @for $i from 1 through 24 {
        &.height-#{$i} {
            @include col-height($i/2);
        }
    }

    .card-body {
        padding: 5px;
    }
}

.title-bar {
    h1 {
        font-size: 2rem;
        margin-bottom: 0px;
        font-weight: bold;
        // color: bootstrap.$primary;
    }
}

.general-stats {
    h1 {
        font-size: 1.2rem;
        margin-bottom: 0px;
        color: bootstrap.$light;
    }

    .main-stat {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .main-stat-old {
        font-size: 1rem;
        text-align: center;
        color: bootstrap.$light;
    }

    .card-body {
        flex-direction: column;
    }
}

.top-image {
    .title {
        position: absolute;
        padding: 5px 10px;
        background-color: black;
        border-radius: 10px;
        margin: 5px;
        background-color: rgba($color: white, $alpha: 0.4);
        color: black;
        font-weight: bold;
    }

    .name {
        position: absolute;
        bottom: 0px;
        padding: 5px 10px;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: rgba($color: white, $alpha: 0.4);
        color: black;
        width: 100%;

        .artist {
            font-size: 1rem;
            font-weight: unset;
            color: #111;
            font-weight: 400;
        }
    }

    img {
        padding-bottom: 2px;
        object-fit: cover;

        @include col-height(3);
    }
}
