.container {
    padding: 0px;
}

.card {
    margin-top: 1rem;
}

.card-body {
    padding: 5px;
}


@media (min-width: 576px) {
    .n4 {
        height: auto;
    }

    .n4.image {
        height: auto;
    }
}


@media (min-width: 992px) {
    .n2 {
        height: 110px;
    }

    .n4 {
        height: 220px;
    }

    .n5 {
        height: 275px;
    }

    .n6 {
        height: 330px;
    }
}


@media (min-width: 1200px) {
    .n4 {
        height: 265px;
    }

    .n6 {
        height: 365px;
    }
}

@media (min-width: 1400px) {
    .n4 {
        height: 310px;
    }
}
